/*COLORES*/

/*rojo: #d62828*/
.bg-gris-claro{
    background-color: #6c757d;
}

.bg-rojo{
    background-color: #db2b2b;
}

.bg-blanco{
    background-color: white;
}

.bg-verde-claro{
    background-color:#24d364;
}

.bg-naranja{
    background-color: #fb8500;
}

.bg-celeste{
    background-color: #0CC0DF;
}

$rojo: #d62828;
$gris-claro: #6c757d;
$gris-oscuro: #222324;
$celeste: #0CC0DF;